* {
	font-family: "poppins", "Yu Gothic UI", "calibri", "Microsoft Sans Serif";
}
/* --- HOME ---*/
.navbar {
	transition: ease all 0.5s;
}
.warna-navbar {
	background-color: #f1f1f1;
	box-shadow: 0px 1px 5px rgba(112, 111, 111, 0.575);
}

.navbar-header img {
	margin-left: -15px;
	padding: 15px 0px;
	width: 320px;
}
.navbar .navbar-collapse .navbar-nav a {
	font-size: 16px;
	margin-left: 15px;
	font-family: poppins;
	color: #5993a4;
	letter-spacing: 1px;
	transition: 0.5s;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu a:hover {
	color: #ffffff;
}
.navbar .navbar-collapse .navbar-nav a:hover {
	color: black;
}
.dropdown-menu {
	width: 180px;
}
.dropdown-item {
	width: auto;
}
.dropdown-menu .dropdown-item:hover {
	background-color: #5993a4;
	color: #ffff;
}

.home {
	background-color: #f1f1f1;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.home img {
	width: 650px;
	height: 470px;
	position: relative;
	left: 15px;
	top: 130px;
}

.home .row h1 {
	margin-top: 150px;
	font-family: poppins semibold;
	font-size: 55px;
	color: rgb(65, 65, 65);
}
.home .row h3 {
	font-family: poppins;
	color: rgb(65, 65, 65);
}
.home .row hr {
	width: 580px;
	background: #ffff;
}

.home .row .welcome {
	margin-top: 50px;
	font-family: gabriola;
	font-size: 40px;
	color: #fff;
	font-weight: bold;
}

.home .row h5 {
	margin-top: 70px;
	color: #ffff;
}
.home .row button {
	border-radius: 50px;
	width: 195px;
	height: 49px;
	background-color: #5993a4;
	border: 2px solid transparent;
	color: #ffff;
	font-size: 18px;
	font-weight: bold;
	transition: 0.5s;
}
.home .row button:hover {
	color: #97d3e4;
	font-weight: bold;
	border: 2px solid #5993a4;
	background-color: transparent;
}

.home .row .login {
	border-radius: 50px;
	width: 195px;
	height: 49px;
	background-color: transparent;
	border: 2px solid #5993a4;
	color: #5993a4;
	font-size: 18px;
	font-weight: bold;
	transition: 0.5s;
}
.home .row .login:hover {
	color: #ffffff;
	font-weight: bold;
	border: 2px solid transparent;
	background-color: #5993a4;
}
/*--- ABSEN ---*/
.absen {
	padding: 35px 0;
	background-color: #f3f3f360;
	min-height: 700px;
}

/*--- ABOUT ---*/

.about {
	background-color: #f1f1f1;
	background-size: cover;
	color: rgb(65, 65, 65);
	padding: 35px 0;
	min-height: 700px;
}

.about img {
	width: 350px;
	height: 400px;
}

.about hr {
	width: 350px;
	border-top: 2px solid rgb(65, 65, 65);
}
.absen hr {
	width: 350px;
	border-top: 2px solid black;
}

/* --- FOOTER ---*/

.footer {
	position: absolute;
	width: 100%;
	min-height: 570px;
	background-image: url("http://localhost/absensi-karyawan/img/gradient.jpg");
	color: #dbdbdb;
	background-size: cover;
	z-index: -99;
}

.footer .box {
	position: absolute;
	bottom: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.8;
	z-index: -999;
}

.footer .judul {
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;
}
.footer .konten {
	font-size: 20px;
}
.footer .icon {
	font-size: 20px;
}
.footer .icon i {
	padding: 20px;
	border-radius: 50%;
	background: #5993a4;
	transition: 0.5s;
}
.footer .icon i:hover {
	background-color: rgb(51, 51, 51);
	color: #5993a4;
}
.footer .icon a {
	color: white;
}

.footer hr {
	width: 270px;
	height: 1px;
	background-color: #eeeeee;
}

/* --- PRELOADER ---*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #ffffff;
}
.preloader .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font: 14px arial;
}

/* --- REGISTRASI ---*/
.auth {
	background-image: url("http://localhost/absensi-karyawan/img/img11.jpg");
	background-size: cover;
	font-family: poppins;
}

/* .auth .register {
	margin-bottom: 30px;
	max-width: 110vh;
	background: rgba(53, 53, 53, 0.541);
} */

.registrasi span {
	border: solid 2px rgb(182, 182, 182);
	height: 650px;
}

.auth .registrasi {
	background: transparent;
	color: rgb(182, 182, 182);
}

.registrasi hr {
	background-color: rgba(255, 255, 255, 0.178);
}

.auth .registrasi button {
	margin-top: 15px;
	border: transparent;
	background: #5993a4;
	border-radius: 25px;
	transition: 0.4s;
	width: 100%;
}

.auth .registrasi button:hover {
	background: transparent;
	box-shadow: 0px 0px 4px 1px #5993a4;
}

.auth .registrasi .card-body input,
.auth .registrasi .card-body select {
	background: rgb(236, 236, 236);
	border-radius: 20px;
}

.registrasi .link a {
	color: rgb(182, 182, 182);
}
.registrasi .link a:hover {
	color: rgb(255, 255, 255);
}

/* --- LOGIN --- */

.auth .login .card-body {
	color: rgb(182, 182, 182);
}
.login span {
	border: solid 2px rgb(182, 182, 182);
	height: 550px;
}
.login hr {
	background-color: rgb(109, 109, 109);
}
.login .link a {
	color: rgb(182, 182, 182);
}
.login .link a:hover {
	color: rgb(255, 255, 255);
}
.auth .login #username,
.auth .login #password {
	background: rgb(236, 236, 236);
	border-radius: 20px;
}
.auth .login button {
	margin-top: 15px;
	border: transparent;
	background: #5993a4;
	border-radius: 25px;
	transition: 0.4s;
	width: 100%;
}
.auth .login button:hover {
	background: transparent;
	box-shadow: 0px 0px 4px 1px #5993a4;
}
.judul-auth h1 {
	color: rgb(182, 182, 182);
	letter-spacing: 4px;
}

/* --- DASHBOARD ---*/
.navbar-dashboard {
	box-shadow: 0px 1px 5px rgba(112, 111, 111, 0.575);
}

.navbar-dashboard #navbarDropdown {
	color: rgba(238, 238, 238, 0.432);
}
.navbar-dashboard #navbarDropdown:hover {
	color: rgb(255, 255, 255);
}

.sidebar-dashboard .nav-link {
	transition: 0.3s;
}
.sidebar-dashboard .nav-link:hover {
	background-color: gray;
}
.main-dashboard .card-body-icon i {
	position: absolute;
	z-index: 0;
	top: 50px;
	right: 10px;
	opacity: 0.4;
	font-size: 80px;
}

.main-dashboard .nav-link {
	transition: 0.3s;
}

.main-dashboard .nav-link:hover {
	font-size: 17px;
}

.edit {
	color: rgb(0, 132, 209);
	transition: 0.2s;
}
.edit:hover {
	color: rgb(0, 140, 255);
}

.hapus {
	transition: 0.2s;
	color: rgb(197, 17, 17);
}
.hapus:hover {
	color: rgb(255, 0, 0);
}

/* ----------------------------------------------------------------------*/

@media (max-width: 768px) {
	.navbar {
		background: #f1f1f1;
		box-shadow: 0px 1px 5px rgba(112, 111, 111, 0.575);
	}
	.home img {
		display: none;
	}
	.absen .jkel,
	.absen .jbtn,
	.absen .tgl {
		display: none;
	}

	.auth .background-registrasi,
	.auth .kotak-registrasi {
		min-height: 135vh;
	}
}
@media (max-width: 1200px) {
	.home img {
		position: relative;
		top: 200px;
		left: 5px;
		width: 520px;
		height: 400px;
	}
	.home .row button {
		width: 305px;
		height: 49px;
	}
	.home .row .login {
		width: 305px;
		height: 49px;
	}
	.about img {
		position: absolute;
		margin-left: 250px;
		opacity: 0.4;
		width: 450px;
		height: 450px;
	}

	.registrasi span {
		display: none;
	}
	.auth .background-registrasi,
	.auth .kotak-registrasi {
		min-height: 135vh;
	}
}

@media (max-width: 990px) {
	.home img {
		position: relative;
		top: 200px;
		left: 30px;
		width: 470px;
		height: 350px;
	}
	.home .row {
		margin-top: -25px;
	}
	.home .row button {
		width: 305px;
		height: 49px;
	}
	.home .row .login {
		width: 305px;
		height: 49px;
	}

	.login span {
		display: none;
	}
	.about img {
		display: none;
	}
}

@media (max-width: 765px) {
	.home .row button {
		width: 480px;
		height: 49px;
		z-index: 999;
	}
	.home .row .login {
		width: 480px;
		height: 49px;
		z-index: 999;
	}
}
